img {
    width: 30%;
    float: left;
/*This is 1.66 because currently the images take up 90% of a row and leaves us with 10% and each img has 2 margins
so you divide 10 by 6.
 */
    margin: 1.66%;
}

p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
    border-bottom: 2px solid #F1F1F1;
    width: 30%;
    padding-bottom: 20px;
}